<!-- <div class=" bg-white border-b-[1px] h-[70px]">
    <div class="container m-auto flex justify-between h-full items-center">
        <a routerLink="/" class="text-2xl text-[var(--primary)] font-extrabold">My Blog</a>

        <div class="space-x-10 text-gray-600">
            <a routerLink="/">Home</a>
            <a routerLink="/about">About</a>
            <a routerLink="/contact">Contact</a>
            @if(!authService.session){
            <a routerLink="/auth/login" class="cta">Login</a>
            }@else{

            <button class="cta" (click)="authService.logout()">Logout</button>

            }
        </div>

    </div>
</div> -->


<!-- ========== Start header ========== -->
<header class="sticky top-0 py-4 shadow-md bg-gray-100">
    <div class="container">
        <div class="flex items-center justify-between flex-wrap lg:flex-nowrap lg:gap-4">
            <div class="w-full lg:w-auto flex flex-shrink items-center justify-between">
                <!-- Navbar Brand Logo -->
                <a routerLink="/">
                    <h2 class="text-2xl font-bold text-gray-950 inline-block z-20">My<span
                            class="text-blue-500">Blog</span>
                    </h2>
                </a>

                <!-- Mobile Menu Toggle Button -->
                <button class="hs-collapse-toggle lg:hidden inline-block" id="hs-unstyled-collapse"
                    (click)="toggleMenu()" [attr.aria-expanded]="isMenuOpen" data-hs-collapse="#mobileMenu"
                    data-hs-type="collapse">
                    <i class="ti ti-menu-2 text-xl text-gray-500 hover:text-gray-600"
                        [class.rotate-180]="isMenuOpen"></i>
                </button>
            </div>


            <div class="flex-grow">
                <div id="mobileMenu"
                    class="hs-collapse transition-all duration-300 lg:basis-auto basis-full grow hidden lg:flex items-center justify-end mx-auto mt-2 lg:mt-0 overflow-hidden"
                    [class.hidden]="!isMenuOpen">
                    <!-- Navigation Menu -->
                    <div class="flex lg:flex-row flex-col lg:items-center lg:justify-between w-full gap-5">
                        <div class="lg:mx-auto">
                            <ul class="flex lg:items-center justify-center flex-col lg:flex-row lg:gap-10 gap-2">
                                @for (item of menuItems; track $index) {
                                <li
                                    class="text-base font-semibold text-gray-700 hover:text-blue-500 transition-all duration-500">
                                    <a [routerLink]="item.path" routerLinkActive="text-blue-500"
                                        class="inline-flex items-center text-sm lg:text-base font-medium">
                                        {{item.label}}
                                    </a>
                                </li>
                                }

                            </ul>
                        </div>

                        <div class="flex-shrink flex lg:flex-row flex-col lg:items-center gap-2">
                            @if(!authService.session) {
                            <a routerLink="/auth/login"
                                class="py-1.5 px-6 inline-block text-balance font-semibold rounded-md text-base text-gray-50 border border-gray-700 bg-gray-700 hover:border-gray-950 hover:text-gray-50 hover:bg-gray-950 transition-all duration-500">Login</a>
                            } @else {
                            <button
                                class="py-1.5 px-6 inline-block text-balance font-semibold rounded-md text-base text-gray-50 border border-gray-700 bg-gray-700 hover:border-gray-950 hover:text-gray-50 hover:bg-gray-950 transition-all duration-500"
                                (click)="authService.logout()">Logout</button>
                            }
                            <a routerLink="auth/register"
                                class="py-1.5 px-6 inline-block text-balance font-semibold rounded-md text-base text-gray-900 border border-gray-700 hover:border-gray-950 hover:text-gray-50 hover:bg-gray-950 transition-all duration-500">Sign
                                Up</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- ========== header End ========== -->