<mat-toolbar color="primary" class="flex justify-between">
    <div class="flex items-center">
        <button mat-icon-button (click)="toggleBtnClicked.emit()">
            <mat-icon>menu</mat-icon>
        </button>
        <a routerLink="/" class="flex items-center">
            <h2 class="text-xl font-bold text-gray-950 inline-block z-20 dark:text-white">Dev<span
                    class="self-center text-xl font-semibold whitespace-nowrap text-primary-500">Blog</span>
            </h2>
        </a>
    </div>
    <div>

        <button mat-icon-button (click)="authService.logout()">
            <mat-icon>logout</mat-icon>
        </button>
        <button mat-icon-button (click)="authService.adminHome()">
            <mat-icon>home</mat-icon>
        </button>
    </div>
</mat-toolbar>