<!-- <mat-drawer-container class="h-screen mat-typography" autosize> -->
<mat-drawer-container class="flex flex-col h-screen dark:bg-gray-900">
    
    <app-header (toggleBtnClicked)="drawer.toggle()"></app-header>

    <mat-drawer #drawer class="example-sidenav" mode="push" [opened]="false">
        <app-sidebar></app-sidebar>
    </mat-drawer>

    <div class="flex-grow container mx-auto py-6 overflow-auto">
        <router-outlet></router-outlet>
    </div>

    <app-footer></app-footer>

</mat-drawer-container>